:root{
    
    --orange-color: #DA722C;
    --darkblue-color: #023047;
    --black-color: #070917;
    --white-color: #e8f7fb;
    --lightblue-color: #6f7dfb;
    
}

*,
*::after,
*::before{
    box-sizing: border-box;
}


.btn{
    padding: 16px 32px;
    border-radius: 24px;
    color:#fff;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    position: relative ;
    
}


body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    }

    .wrapper{
        max-width: 1134px;
        margin: 0 auto;
    }  
  
    header {
        text-align: left;
        padding: 20px 0;
    }


    nav {
        text-align: left;
        margin-bottom: 20px;
    }


    nav .logo{
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        font-size: 40px;
        color: var(--black-color);
        }

    .pagename{
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-weight: 900;
            font-size: 40px;
            color: var(--black-color);
            }

        nav ul{
            display: flex;
        align-items: center;
        gap: 60px;
        list-style: none;
        }
        
        nav ul li a {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: var(--black-color);
        text-decoration: none;
        margin:0;
        }

        
    table {
        width: 50%;
        border-collapse: collapse;
        margin-bottom: 20px;
        
    }

    input {
    width: 50%;
    padding: 12px 20px 12px 40px;
    font-size: 16px;
    }

    th, td {
        padding: 10px;
        border: 1px solid #ccc;
    }
    th {
        background-color: #f2f2f2;
    }
    .btn {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    .search-bar {
        margin-bottom: 20px;
    }